{{> menu}} <!-- Include the navigation menu -->

<section class="ui center aligned middle aligned segment">

  {{#if singleRecipe}}

    <!-- Recipe Title -->
    <h2 class="ui header">{{singleRecipe.title}}</h2>

    <!-- Main Details Container -->
    <div class="ui container">
      <div class="ui left aligned segment">

        <!-- Description -->
        <p><i>{{singleRecipe.description}}</i></p>

        <!-- Allergens -->
        {{#if singleRecipe.alergies.length}}
          <p><strong>Allergens:</strong>
            {{#each singleRecipe.alergies}}
              <span class="ui red label">{{this}}</span>
            {{/each}}
          </p>
        {{/if}}

        <!-- Vegetarian -->
        <p><strong>Vegetarian:</strong>
          {{#if singleRecipe.vegeterian}}
            <span class="ui green label">Yes</span>
          {{else}}
            <span class="ui red label">No</span>
          {{/if}}
        </p>

        <!-- Step Count -->
        <p><strong>Amount of steps:</strong> {{singleRecipe.cookingSteps.length}}</p>

      </div>
    </div>

    <!-- Cooking Steps -->
    <div class="ui container" style="margin-top: 2rem;">
      <h3 class="ui header">Cooking Steps</h3>

      <div class="ui relaxed divided list">
        {{#each singleRecipe.cookingSteps}}
          <div class="ui grid">
            <div class="two column row">
              <div class="column" style="max-width: 50px;">
                <div class="ui circular label">{{@index}}</div>
              </div>
              <div class="column left aligned">
                <p>{{this}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  
<form method="POST" action="/recipe/{{singleRecipe.id}}/like">
  {{#if userHasLiked}}
    <button class="ui red icon button">
      <i class="thumbs down icon"></i> Unlike
    </button>
  {{else}}
    <button class="ui green icon button">
      <i class="thumbs up icon"></i> Like
    </button>
  {{/if}}
</form>


  {{else}}

    <h3>There is no recipe with this ID</h3>
    <div class="ui grid">
      <div class="two column row">
        <div class="column left aligned">
          <p>Would you like to search for another?</p>
        </div>
        <div class="column right aligned">
          <a href="/catalogue" class="ui button">Go to Catalogue</a>
        </div>
      </div>
    </div>

  {{/if}}

</section>

{{> footer}}
